In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../data/sales-funnel.csv')

In [4]:
df

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [16]:
len(df[(df['Price'] > 8000) | (df['Status'] == 'pending')])

15

In [22]:
df.groupby('Rep').apply(
    lambda group: (
        group['Price'] * group['Quantity']
    ).sum()
)

Rep
Cedric Moss      175000
Craig Booker      85000
Daniel Hilton    220000
John Smith        45000
Wendy Yule       661000
dtype: int64

In [23]:
df['Sales'] = df['Quantity'] * df['Price']

In [24]:
df

,Account,Name,Rep,Manager,Product,Quantity,Price,Status,Sales
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented,30000
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented,10000
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending,10000
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined,35000
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won,130000
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending,80000
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented,10000
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending,10000
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined,35000
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won,130000
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented,30000
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending,5000
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented,10000
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won,21000
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won,500000
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined,130000
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented,10000

In [25]:
df['Sales'].sum()

1186000

In [27]:
df[df['Status'] == 'won']['Sales'].sum()

781000

In [31]:
df[df['Status'] == 'won'].groupby('Manager')['Sales'].sum()

Manager
Debra Henley     130000
Fred Anderson    651000
Name: Sales, dtype: int64

In [32]:
won_deals = df[df['Status'] == 'won']

In [34]:
df['Date'] = pd.date_range('2016-06-01', periods=len(df))

In [35]:
df

,Account,Name,Rep,Manager,Product,Quantity,Price,Status,Sales,Date
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented,30000,2016-06-01
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented,10000,2016-06-02
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending,10000,2016-06-03
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined,35000,2016-06-04
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won,130000,2016-06-05
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending,80000,2016-06-06
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented,10000,2016-06-07
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending,10000,2016-06-08
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined,35000,2016-06-09
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won,130000,2016-06-10
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented,30000,2016-06-11
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending,5000,2016-06-12
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented,10000,2016-06-13
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won,21000,2016-06-14
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won,500000,2016-06-15
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined,130000,2016-06-16
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented,10000,2016-06-17

In [37]:
df[(df['Date'] > '6/10/2016') & (df['Status'] == 'won')]

,Account,Name,Rep,Manager,Product,Quantity,Price,Status,Sales,Date
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won,21000,2016-06-14
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won,500000,2016-06-15

In [41]:
date_df = df.set_index('Date')

In [44]:
date_df["2016-06-14":]

,Account,Name,Rep,Manager,Product,Quantity,Price,Status,Sales
Date,,,,,,,,,
2016-06-14,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won,21000
2016-06-15,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won,500000
2016-06-16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined,130000
2016-06-17,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented,10000

In [45]:
df.pivot_table(['Sales', 'Quantity'],
               index=['Manager', 'Rep'],
               columns='Status')

                               Sales                           Quantity  \
Status                      declined pending presented     won declined
Manager       Rep
Debra Henley  Craig Booker     35000   10000     20000     NaN        1
              Daniel Hilton      NaN   80000     10000  130000      NaN
              John Smith       35000   10000       NaN     NaN        1
Fred Anderson Cedric Moss        NaN    5000     20000  130000      NaN
              Wendy Yule      130000     NaN     10000  260500        2


Status                      pending presented won
Manager       Rep
Debra Henley  Craig Booker        2         1 NaN
              Daniel Hilton       2         1   2
              John Smith          2       NaN NaN
Fred Anderson Cedric Moss         1         1   2
              Wendy Yule        NaN         2   4